@model IEnumerable<NzWalksWebUI.Models.DTO.RegionDto>

<h1>Heading</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Region" asp-action="Add">Add</a>
</div>

@{
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Code</td>
                            <td>@item.Name</td>
                            <td>
                            <a class="btn btn-primary" asp-asp-controller="Region" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
}
